<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NeptuneView/src/NeptunePlayer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="NeptunePlayer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NeptuneView"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djna.library.path=/Users/ericzhu/Desktop/MacOS/lib&#10;-Dvlcj.log=DEBUG"/>
</launchConfiguration>
